@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  font-size: 13.5px;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem;
background-color: #f7f7f7 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgb(0 0 0 / 0%) !important;
  border-radius: 15px !important;
  box-shadow: 3px 0px 5px 3px rgb(219 219 219 / 14%) !important;
}

.btn-primary {
  color: #fff;
  background-color: #529CA7!important;
    border-color: #3daabb!important;
}
.btn-info {
  color: #ffffff !important;
  background-color: #5253ff !important;
  border-color: #5253ff !important;
}

.btn-prima {
  color: #ffffff !important;
  background-color: #529ca7 !important;
  border-color: #529ca7 !important;
}

.btn-secondary {
  color: #817a89!important;
    background-color: #ededed!important;
    border-color: #e7e7e7!important;
}
a:hover {
  /* color: #9E55FF !important; */
  text-decoration: underline;
}

.dropdown-menu.show {
    display: block;
    position: absolute !important;
    left: -8pc !important;
}

input[type="date"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control, input[type="time"].form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: ruby-text-container !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #529ca7!important;
    background-color: #f0faff!important;
}

.nav-link {
  display: block;
  padding: 16px !important;
  width: 75px;
  place-self: center;
  color: #999999 !important;
}

.auth-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 94vh;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 14px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #545454 !important;
  background-color: #f3f3f3 !important;
  background-clip: padding-box;
  border: 0px solid #ced4da !important;
  border-radius: 0.25rem;
  padding: 19px !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .nav-link {

    width: 50px;

    height: 50px;

  }
}

.br-9 {
  border-radius: 9px;
}

.modal-content {
  border-radius: 9px;
  border: 0;
}

.tb-full {
  width: 100%;
}

.bg-company {
  background: rgba(139, 44, 245, 0.1);
  font-size: 16px;
  color: #460095;
  font-weight: bold;
}

.bg-pakan {
  font-size: 16px;
  font-weight: bold;
  background: #C9F9E7;
  color: #039C78;
}

.bg-doc {
  font-size: 16px;
  font-weight: bold;
  background: rgba(255, 83, 83, 0.2);
  color: #D60000;
}

.bg-area {
  background: rgba(255, 241, 112, 0.1);
  font-size: 16px;
  font-weight: bold;
  color: #554D00;
}