.navcontainer{
  position: fixed;
  width: 128px;
    height: 100%;
    background-color: #fff;
    box-shadow: 3px 0px 6px 0px rgb(219 219 219 / 14%);
}

.nowrap {
  white-space: nowrap;
}

.wrapper{
   padding:10px;
   z-index: 1;
}
.logo{
  padding:10px;
  padding-left: 42px;
  text-align:left;
  font-size: 20px;
  font-weight: bold;
}

.wrapper >ul{
  margin-top:20px;
   text-align: left;
   padding-left: 10px;
   display: flex;
   gap:25px;
   flex-direction: column;
   font-size: 18px;
   font-weight: bold;
}

.wrapper>ul>li{
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  opacity: .6;
}
.wrapper>ul>li:active{
  color: #000;
}

.wrapper>ul>li>a:hover{
  color: darkgoldenrod;
  font-size: 22px;
  transition: 0.2s;
}

.navinactive {
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .textResponsive {
    text-align: center!important;
    display: none;
  }
.navcontainer{
  width: 70px;
}
.logo>h2{
  opacity: 0;
}
.logo{
  width: 40px;
  height: 40px;
  padding:10px;
  margin: 10px;
}
.wrapper>ul{
  gap:5px;
}
.wrapper>ul>li:hover{
color:red;
}
.wrapper>ul>li>a{
  opacity: 0;
}

}


/* header css starts  */

.headcontainer{
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height:70px;
  background-color: rgb(255, 255, 255);
  margin-left:128px;
  /* z-index: -1; */
 
}
.headwrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title{
  margin-left: 40px;
}
.title>h2{
  color: rgb(0, 0, 0);;
}
.title>p{
  color: rgb(0, 0, 0);;
}
.title>h2>span{
  color:rgb(9, 112, 72);
}
.profile{
  position: absolute;
  right:20px;
}
.image{
  width: 40px;
  height:40px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .headcontainer{
      /* width: 100%; */
      margin-left: 70px;
  }
  .textResponsive {
    text-align: center!important;
    display: none;
  }
  .profile{
      position: absolute;
      right:0px;
  }

}
/* 
content of dashboard start */

.contentcontainer{
  /* display: flex; */
  flex-wrap: wrap;
  margin-left:128px;
}

.contentwrapper{
  /* display: flex; */
  padding: 40px;
  gap:40px;
}
.tabs{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:250px;
  height:100px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 0px 6px 0px rgba(246, 246, 246, 0.75);
}


.categories>h2{
  color: rgb(70, 105, 70);
}

.textResponsive {
  text-align: center!important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .textResponsive {
    text-align: center!important;
    display: none;
  }
  .contentcontainer{
      margin-left: 70px;
     
  }
  .textResponsive {
    text-align: center!important;
    display: none;
  }
  .contentwrapper{
     /* display: grid; */
     grid-template-columns: 1fr;
  }
  .tabs{
      width: 350px;
  }

}
/* 
charts css started  */

.charts{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
}
.bar{
  margin-left: 20px;
}

.circle{
  margin-left: 120px;
}



@media only screen and (max-width: 768px) {
  
.charts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
 
}
.bar>h2{
  text-align: center;
  margin-bottom: 20px;
}
.circle>h2{
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.bar{
  margin-top: 60px;
  margin-left: 10px;
  width:300px;
  height:300px;
}
.circle{
  margin-top: 60px;
  margin-left: 10px;
  width:300px;
  height:300px;
}

}