.navcontainer {
	position: fixed;
	width: 128px;
	height: 100%;
	background-color: #fff;
	box-shadow: 3px 0px 6px 0px rgb(219 219 219 / 14%);
	overflow: auto;
}

.nowrap {
	white-space: nowrap;
}

.wrapper {
	padding: 10px;
	z-index: 1;
}
.logo {
	padding: 18px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.wrapper > ul {
	margin-top: 20px;
	text-align: left;
	padding-left: 10px;
	display: flex;
	gap: 25px;
	flex-direction: column;
	font-size: 18px;
	font-weight: bold;
}

.wrapper > ul > li {
	list-style: none;
	font-size: 20px;
	text-decoration: none;
	opacity: 0.6;
}
.wrapper > ul > li:active {
	color: #000;
}

.wrapper > ul > li > a:hover {
	color: darkgoldenrod;
	font-size: 22px;
	transition: 0.2s;
}

.navinactive {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 12px;
}

/* header css starts  */

.headcontainer {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	height: 70px;
	background-color: rgb(255, 255, 255);
	margin-left: 128px;
	/* z-index: -1; */
}
.headwrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.profile-icon {
	font-size: 20px;
	height: 40px;
	width: 56px;
	background: red;
	text-align: center;
	background-color: #8b2cf5;
	border-radius: 6px;
	color: #ffffff;
	margin-left: 14px;
}
.title > h2 {
	color: rgb(0, 0, 0);
}
.title > p {
	color: rgb(0, 0, 0);
}
.title > h2 > span {
	color: rgb(9, 112, 72);
}
.profile {
	position: absolute;
	right: 20px;
}
.image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.wrapper > ul {
	gap: 5px;
}

.wrapper > ul > li:hover {
	color: red;
}

.wrapper > ul > li > a {
	opacity: 0;
}

.print-only {
	display: none;
}

/* 
  content of dashboard start */

.contentcontainer {
	/* display: flex; */
	flex-wrap: wrap;
	margin-left: 128px;
}

.contentwrapper {
	/* display: flex; */
	padding: 40px;
	gap: 40px;
}
.tabs {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 250px;
	height: 100px;
	background-color: #fff;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 3px 0px 6px 0px rgba(246, 246, 246, 0.75);
}

.categories > h2 {
	color: rgb(70, 105, 70);
}

/* 
  charts css started  */

.charts {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-left: 20px;
}
.bar {
	margin-left: 20px;
}

.circle {
	margin-left: 120px;
}

.pointer {
	cursor: pointer;
}

.ck-editor__editable {
	min-height: 100px;
}
.ck-editor__editable_inline > ul {
	padding: 0 15px !important;
}
.ck-editor__editable_inline > ol {
	padding: 0 10px !important;
}
.hidden-mobile {
	display: none;
}
.hidden-desktop {
	display: block;
}
.hidden {
	display: none;
}
.login-responsive {
	width: 50vh;
	margin-left: 15vh;
}

/* for desktops */
@media (max-width: 1200px) {
}

/* will match laptops and desktop because your screen with is underr 991 but also under 1200px */
@media (max-width: 991px) {
}

/* for large tablets */
@media (min-width: 768px) and (max-width: 990px) {
	.hidden-tablet {
		display: none;
	}
	.login-responsive {
		width: 50vh;
		margin-left: 5vh;
	}
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width: 768px) {
	.dropdown-item {
		padding: 10px !important;
	}
	.dropdown-toggle::after {
  display: none !important; 
}
	.login-responsive {
		width: 100%;
		margin-left: 0vh;
	}
	.headcontainer {
		margin-left: 0px;
	}
	.profile {
		position: absolute;
		right: 0px;
	}

	.navcontainer {
		width: 70px;
	}
	.logo > h2 {
		opacity: 0;
	}

	.logo {
		width: 40px;
		height: 40px;
		padding: 10px;
		margin: 10px;
	}
	.wrapper > ul {
		gap: 5px;
	}
	.wrapper > ul > li:hover {
		color: red;
	}
	.wrapper > ul > li > a {
		opacity: 0;
	}

	.contentcontainer {
		margin-left: 70px;
	}
	.contentwrapper {
		/* display: grid; */
		grid-template-columns: 1fr;
	}
	.tabs {
		width: 350px;
	}
	.charts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
	}

	.bar > h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	.circle > h2 {
		text-align: center;
		font-size: 22px;
		margin-bottom: 20px;
	}

	.bar {
		margin-top: 60px;
		margin-left: 10px;
		width: 300px;
		height: 300px;
	}

	.circle {
		margin-top: 60px;
		margin-left: 10px;
		width: 300px;
		height: 300px;
	}

	.textResponsive {
		text-align: center !important;
		display: none;
	}
	.hidden-mobile {
		display: block;
	}

	.hidden-desktop {
		display: none;
	}

	.Home_contentcontainer__spnGP {
		margin-left: 0px !important;
	}
}

/* smartphones, iPhone, landscape phones */
@media screen and (orientation:landscape)
and (min-width: 768px) and (max-width: 990px) {
   .login-responsive {
    width: 100%;
    margin-left: 0vh;
}
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width: 500px) {
}

@media print {
	.hidden-print {
		display: none;
	}

	.print-only {
		display: block !important
	}

	
	.canvas-print {
		display: flex;
		flex-wrap: nowrap;
	}

	.canvas-print canvas {
		flex: 1;
		width: 50%;
		height: auto;
	}

	.col-print{
		flex: 1 !important;
	}


}